img {
    min-height: 60%;
    max-width: 60%;
}

.hub-borders {
    border: 1px black;
    border-style: solid;
    border-radius: 15px; 
    margin: 10px; 
    background-color: #f7d88b;
    min-height: 350px;
}
