.signup-image {
    max-width: 100%;
    max-height: 100%;
}

.signup-welcome {
    font-family: 'Padauk', sans-serif;
    margin-bottom: 20px;
    font-size: 38px;
}

.signup-form {
    background-color: #f7d88b;
    border-radius: 10px;
    padding-top: 40px; 
    padding-right: 0px; 
    padding-left: 0px;
    padding-bottom: 80px;
    border: 2px solid rgba(0,0,0,1);
    box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px rgba(0,0,0,1)
}

input[type=text] {
    margin:auto;
    display: block;
    width: 50%;
    border: none;
    border-bottom: 3px solid rgba(0,0,0,1);
    outline: none;
    color: rgba(0,0,0,1); 
    font-family: 'Fjalla One', sans-serif;
    font-size: 15px; 
    background-color: transparent;
}

input:focus {
    border-bottom: 3px solid #BDBDDB;
}

#name-signup {
    margin-bottom: 50px;
}

.signup-btn {
    display: block;
    margin: auto; 
    margin-top: 60px;
    padding: 5px 20px; 
    background: #ffa580;
    letter-spacing: 2px;
    transition: .4s all ease-in-out;
    outline: none;
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 3px 3px 1px #BDBDDB, 3px 3px 1px 1px rgba(0,0,0,1); 
    font-family: 'Padauk', sans-serif;
    font-size: 15px;
}

.signup-btn:hover {
    box-shadow: 3px 3px 1px #ffa580, 3px 3px 1px 1px rgba(0,0,0,1);
    background: #BDBDDB;
}

.hr-line-signup {
    border: 1px solid lightgray;
    margin-top: 100px;
    margin-bottom: 100px;
}


/* media queries begin */ 
@media only screen and (max-width : 768px) {
    .signup-image {
        min-height: 110%;
    }

    .signup-welcome {
        margin-bottom: 10px;
        font-size: 20px;
    }

    .signup-form {
        border-radius: 10px;
        padding-top: 20px; 
        padding-right: 0px; 
        padding-left: 0px;
        padding-bottom: 40px;
    }

    input[type=text] {
        width: 60%;
        border-bottom: 2px solid rgba(0,0,0,1);
        font-size: 10px; 
    }

    #name-signup {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .signup-btn {
        margin-top: 30px;
        padding: 2px 10px; 
        letter-spacing: 1px;
        font-size: 10px;
    }
}

@media (max-width: 575.98px) {
    .signup-image {
        min-height: 100%;
    }

    .signup-welcome {
        margin-bottom: 10px;
        margin-top: 50px;
        font-size: 30px;
        text-align: center;
    }

    .signup-form {
        padding-top: 20px; 
        padding-right: 0px; 
        padding-left: 0px;
        padding-bottom: 40px;
        margin-right: 50px; 
        margin-left: 50px; 
        margin-top: 20px
    }
    
    input[type=text] {
        margin: auto;
        width: 50%;
        font-size: 15px;    
    }

    .signup-btn {
        padding: 4px 20px; 
        letter-spacing: 2px;
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .signup-welcome {
        margin-top: 20px;
        font-size: 20px;
    }

    .signup-form {
        padding-top: 15px; 
        padding-bottom: 40px;
        margin-right: 20px; 
        margin-left: 20px; 
    }

    input[type=text] {
        width: 70%;
        font-size: 10px;    
    }

    .signup-btn {
        padding: 2px 20px; 
        letter-spacing: 2px;
        font-size: 10px;
    }
}